<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-12 pr-lg-2">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Historique</h5>
        </div>
        <div class="card-body bg-light">
          <ul>
            <li>Utilisateur : {{historique.user_nom}}</li>
            <li>Société : {{historique.societe_nom}}</li>
            <li>Section : {{historique.controller}}</li>
            <li>Action : {{historique.action}}</li>
            <li>Date : {{historique.created_at}}</li>
          </ul>
          <strong>Action contenu : </strong>
          <ul>
            <div [innerHTML]="historique.action_contenu"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
