<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let societe of societeList ">
          <th scope="row">{{societe.id}}</th>
          <td>{{societe.nom}}</td>
          <td>{{societe.email}}</td>
          <td>
            <button class="btn btn-info" type="button" (click)="showChildModalView(societe)"
                    style="margin-right: 2px;"><span
              class='far fa-eye'></span></button>
            <button class="btn btn-warning" type="button" (click)="showChildModal(societe)"
                    style="margin-right: 2px;"><span
              class='fas fa-edit'></span></button>
            <button class="btn btn-warning" type="button" (click)="showChildModalPayement(societe)"
                    style="margin-right: 2px;"><span
              class='fas fa-file-invoice-dollar'></span></button>
            <button class="btn btn-danger"
                    (click)="showChildModalDelete(societe)"
                    [disabled]="loading[societe.societe_id]">
              <span *ngIf="!loading[societe.societe_id]" class='far fa-trash-alt'></span>
              <span *ngIf="loading[societe.societe_id]" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name-update" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-update" class="modal-title pull-left">Modifier société</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-societe-create [societe]="societe" (loadDataEdit)="handleResponse({},societe.id)"></app-societe-create>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModalPayement="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name-payement" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-payement" class="modal-title pull-left">Payement</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalPayement()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-societe-payement *ngIf="societe" [societe]="societe" (loadDataEdit)="handleResponse({},societe.id)"></app-societe-payement>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModalView="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name-view" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-view" class="modal-title pull-left">Afficher societe</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalView()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-societe-view [societe]="societe"></app-societe-view>
      </div>
    </div>
  </div>
</div>
<div bsModal #childModalDelete="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name-delete" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-delete" class="modal-title pull-left">Afficher societe</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-delete [id]="societeId" (request)="deleteMarque($event)"></app-delete>
      </div>
    </div>
  </div>
</div>

