<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="div">
      <ul class="alert alert-danger fa-ul">
        <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
      </ul>
    </div>
    <div *ngIf="errors" class="div">
      <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
        - {{ item.key }}
        <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
          <div class="card mb-3">

            <div class="card-body bg-light">

              <form #elementCreateForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="value">Value *</label>
                  <input class="form-control" id="value" name="value" type="text" placeholder="Value" [(ngModel)]="element.value"
                         required #value="ngModel"/>
                  <ul *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger">
                    <li *ngIf="value.errors.required">
                      Ce champ est obligatoire
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label for="win">Gagné *</label>
                  <select class="form-control" id="win" name="win"
                          [(ngModel)]="element.win" required>
                    <option [ngValue]="1">Gagner</option>
                    <option [ngValue]="0">Perdre</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="resultText">Result text *</label>
                  <input class="form-control" id="resultText" name="resultText" type="text" placeholder="Gagné" [(ngModel)]="element.resultText"
                         required #resultText="ngModel"/>
                  <ul *ngIf="resultText.invalid && (resultText.dirty || resultText.touched)" class="alert alert-danger">
                    <li *ngIf="resultText.errors.required">
                      Ce champ est obligatoire
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label for="color">Color *</label>
                  <input class="form-control" id="color" name="color" type="color" placeholder="#000000" [(ngModel)]="element.color"
                         required #color="ngModel"/>
                  <ul *ngIf="color.invalid && (color.dirty || color.touched)" class="alert alert-danger">
                    <li *ngIf="color.errors.required">
                      Ce champ est obligatoire
                    </li>
                  </ul>
                </div>
                <button class="btn btn-warning mb-3 float-right" type="submit"
                        [disabled]="elementCreateForm.invalid || loading">
                  Enregistrer
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
