<div class="card mb-3" *ngIf="produit !== undefined">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <!--
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img class="rounded" src="../assets/img/products/1.jpg" alt=""></ng-template>
                  <ng-template carouselSlide><img class="rounded" src="../assets/img/products/1-2.jpg" alt=""></ng-template>
                  <ng-template carouselSlide><img class="rounded" src="../assets/img/products/1-3.jpg" alt=""></ng-template>
                </owl-carousel-o>
        -->
        <ngx-gallery *ngIf="!mobile" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>


      </div>
      <div class="col-lg-6">
        <h5>{{produit.name}}</h5>
        <a class="fs&#45;&#45;1 mb-2 d-block" href="#!">{{produit.categorie.name}} &amp; {{produit.sousCategorie.name}}</a>

        <div class="row" *ngIf="mobile">
          <div *ngFor="let image of produit.images" class="col-sm-4 col-lg-3 mb-4">
            <img class="rounded img-fluid" src="{{produit.baseUrl +'/storage/profiles_images/' + image.path}}" alt="">
          </div>
        </div>

        <a class="fs&#45;&#45;2 mb-3 d-inline-block text-decoration-none" href="#review" data-tab-target="#review"
           data-fancyscroll
           data-offset="80"><span class="fa fa-star text-warning"></span><span
          class="fa fa-star text-warning"></span><span
          class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span
          class="fa fa-star-half-alt text-warning star-icon"></span><span class="ml-1 text-600">(8)</span></a>
        <p class="fs&#45;&#45;1">{{produit.description}}</p>
        <h4 class="d-flex align-items-center"><span class="text-warning mr-2">{{produit.prix}} DT</span></h4>
        <p class="fs&#45;&#45;1 mb-1"><span *ngIf="produit.livraison">Shipping Cost: </span><strong>{{produit.prix_livraison}}</strong></p>
        <p class="fs&#45;&#45;1">Stock: <strong class="text-success" *ngIf="produit.etat">Available</strong><strong class="text-danger" *ngIf="!produit.etat">Not available</strong></p>
        <div class="row">
          <div class="col-sm-auto pl-3 pl-sm-0"><a class="btn btn-sm btn-outline-danger border-300 mr-2 mt-2 mt-sm-0"
                                                   href="#!" data-toggle="tooltip" data-placement="top"
                                                   title="Add to Wish List"><span
            class="far fa-heart mr-1"></span>282</a></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered fs&#45;&#45;1">
        <tbody>
        <tr *ngIf="produit.name">
          <td class="bg-100" style="width: 30%;">Nom</td>
          <td>{{produit.name}}</td>
        </tr>
        <tr *ngIf="produit.id">
          <td class="bg-100" style="width: 30%;">id</td>
          <td>{{produit.id}}</td>
        </tr>
        <tr *ngIf="produit.etat">
          <td class="bg-100" style="width: 30%;">etat</td>
          <td>{{produit.etat}}</td>
        </tr>
        <tr *ngIf="produit.sousCategorie">
          <td class="bg-100" style="width: 30%;">sousCategorie</td>
          <td>{{produit.sousCategorie.name}}</td>
        </tr>
        <tr *ngIf="produit.categorie">
          <td class="bg-100" style="width: 30%;">categorie</td>
          <td>{{produit.categorie.name}}</td>
        </tr>
        <tr *ngIf="produit.modele">
          <td class="bg-100" style="width: 30%;">modele</td>
          <td>{{produit.modele.modele_name}}</td>
        </tr>
        <tr *ngIf="produit.marque">
          <td class="bg-100" style="width: 30%;">marque</td>
          <td>{{produit.marque.name}}</td>
        </tr>
        <tr *ngIf="produit.prix">
          <td class="bg-100" style="width: 30%;">prix</td>
          <td>{{produit.prix}}</td>
        </tr>
        <tr *ngIf="produit.adresse">
          <td class="bg-100" style="width: 30%;">adresse</td>
          <td>{{produit.adresse}}</td>
        </tr>
        <tr *ngIf="produit.type_de_transaction">
          <td class="bg-100" style="width: 30%;">type_de_transaction</td>
          <td>{{produit.type_de_transaction}}</td>
        </tr>
        <tr *ngIf="produit.chambres">
          <td class="bg-100" style="width: 30%;">chambres</td>
          <td>{{produit.chambres}}</td>
        </tr>
        <tr *ngIf="produit.salles_de_bains">
          <td class="bg-100" style="width: 30%;">salles_de_bains</td>
          <td>{{produit.salles_de_bains}}</td>
        </tr>
        <tr *ngIf="produit.superficie">
          <td class="bg-100" style="width: 30%;">superficie</td>
          <td>{{produit.superficie}}</td>
        </tr>
        <tr *ngIf="produit.couleur_du_vehicule">
          <td class="bg-100" style="width: 30%;">couleur_du_véhicule</td>
          <td>{{produit.couleur_du_vehicule}}</td>
        </tr>
        <tr *ngIf="produit.type_de_carrosserie">
          <td class="bg-100" style="width: 30%;">type_de_carrosserie</td>
          <td>{{produit.type_de_carrosserie}}</td>
        </tr>
        <tr *ngIf="produit.etat_du_vehicule">
          <td class="bg-100" style="width: 30%;">etat_du_vehicule</td>
          <td>{{produit.etat_du_vehicule}}</td>
        </tr>
        <tr *ngIf="produit.boite">
          <td class="bg-100" style="width: 30%;">boite</td>
          <td>{{produit.boite}}</td>
        </tr>
        <tr *ngIf="produit.cylindree">
          <td class="bg-100" style="width: 30%;">cylindree</td>
          <td>{{produit.cylindree}}</td>
        </tr>
        <tr *ngIf="produit.kilometrage">
          <td class="bg-100" style="width: 30%;">kilometrage</td>
          <td>{{produit.kilometrage}}</td>
        </tr>
        <tr *ngIf="produit.annee">
          <td class="bg-100" style="width: 30%;">annee</td>
          <td>{{produit.annee}}</td>
        </tr>
        <tr *ngIf="produit.carburant">
          <td class="bg-100" style="width: 30%;">carburant</td>
          <td>{{produit.carburant}}</td>
        </tr>
        <tr *ngIf="produit.puissance_fiscale">
          <td class="bg-100" style="width: 30%;">puissance_fiscale</td>
          <td>{{produit.puissance_fiscale}}</td>
        </tr>
        <tr *ngIf="produit.livraison">
          <td class="bg-100" style="width: 30%;">livraison</td>
          <td>{{produit.livraison}}</td>
        </tr>
        <tr *ngIf="produit.prix_livraison">
          <td class="bg-100" style="width: 30%;">prix_livraison</td>
          <td>{{produit.prix_livraison}}</td>
        </tr>
        <tr *ngIf="produit.created_at">
          <td class="bg-100" style="width: 30%;">created_at</td>
          <td>{{produit.created_at}}</td>
        </tr>
        <tr *ngIf="produit.updated_at">
          <td class="bg-100" style="width: 30%;">updated_at</td>
          <td>{{produit.updated_at}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

