<app-loading *ngIf="loading"></app-loading>
<div class="col-12">
  <div *ngIf="error" class="div">
    <ul class="alert alert-danger fa-ul">
      <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
    </ul>
  </div>
  <div *ngIf="errors" class="div">
    <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
      - {{ item.key }}
      <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
      </li>
    </ul>
  </div>

  <div *ngIf="!loading" class="content">
    <div class="row no-gutters">
      <div class="col-lg-12 pr-lg-2">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Produit</h5>
          </div>
          <div class="card-body bg-light">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="reference">Référence</label>
                  <input class="form-control" id="reference" name="reference" type="text"
                         [value]="produit.reference" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="nom">Nom de produit </label>
                  <input class="form-control" id="nom" name="nom" type="text"
                         [value]="produit.nom" disabled>
                </div>
              </div>
              <div class="col-lg-6" *ngIf="produit.etat">
                <div class="form-group">
                  <label for="etat">Statut</label>
                  <input class="form-control" id="etat" name="etat" type="text"
                         [value]="produit.etat.nom" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="nom_client">Nom du client</label>
                  <input class="form-control" id="nom_client" name="nom_client" type="text"
                         [value]="produit.nom_client" disabled>

                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group"><label for="telephone">Téléphone</label>
                  <input class="form-control" id="telephone" name="telephone" type="text"
                         [value]="produit.telephone" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group"><label for="email">Adresse e-mail
                  *</label>
                  <input class="form-control" type="email" name="email" id="email"
                         [value]="produit.email" disabled/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group"><label for="description_agent">Commentaire pour les vendeurs</label>
                  <textarea class="form-control" id="description_agent" name="description_agent" cols="30" rows="13"
                            [value]="produit.description_agent" disabled></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group"><label for="description_client">Message pour les clients</label>
                  <textarea class="form-control" id="description_client" name="description_client" cols="30" rows="13"
                            [value]="produit.description_client" disabled></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

