<div class="row no-gutters">
  <div class="col-xl-4 order-xl-1 pl-xl-2">
    <div class="card mb-3">
      <div class="card-header bg-light btn-reveal-trigger d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Commande</h5>
      </div>
      <div class="card-body">
        <table class="table table-borderless fs--1 mb-0">
          <tr class="border-bottom">
            <th class="pl-0 pb-0">Prix de mois</th>
            <th class="pr-0 text-right pb-0">50 DT</th>
          </tr>
          <tr class="border-bottom">
            <th class="pl-0 pb-0">Période d'abonnement
            </th>
            <th class="pr-0 text-right pb-0">
              1 ans
            </th>
          </tr>
          <tr>
            <th class="pl-0 pb-0">Total</th>
            <th class="pr-0 text-right pb-0">600 DT</th>
          </tr>
        </table>
      </div>
      <div class="card-footer d-flex justify-content-between bg-100">
        <div class="font-weight-semi-bold">Total à payer</div>
        <div class="font-weight-bold">600 DT</div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 pr-xl-2">
    <div class="card">
      <div class="card-header bg-light">
        <h5 class="mb-0">Mode de paiement</h5>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-12">
            <p>
              <strong>Informations :</strong><br>
              Attention, le paiement par virement bancaire entraîne systématiquement un traitement minimum de trois
              jours.<br>

              Virement provenant d'un établissement bancaire domicilié en Tunisie uniquement.<br>

              Dès que nous avons la confirmation que la somme due a bien été versée sur le compte,<br>
              et qu'elle correspond exactement à votre commande, nous activons votre service.<br>

            </p>


            <strong> Mode opératoire:</strong><br>
            <ul>
              <li> 1 - Indiquez la référence suivant sur votre note de virement : "ORDER: 142614294"
                dans le champ "libéllé, motif, objet..." de l'opération bancaire.
              </li>
              <li> 2 - Le montant du transfert est : 600.000 DT
              </li>
              <li> 3 - Nos coordonnées bancaires :
                <ul>
                  <li>Banque : AMEN BANK</li>
                  <li>Adresse : ANGLE RUE DES METIERS & 28, RUE DES ENTREPRENEURS CHARGUIA II-TUNIS-CARTHAGE</li>
                  <li>Titulaire du compte : OVH SARL</li>
                  <li>Numéro de compte : 07 040 0 058 101 111296 53</li>
                  <li>Numero iban : TN59 0704 0005 8101 1112 9653</li>
                  <li>Identifiant BIC : CFCTTNTT</li>
                </ul>
              </li>
              <li> 4 - Afin de valider votre paiement, veuillez nous envoyer par email à l’adresse
                preuve.paiement-tn@ovh.net votre preuve de paiement
                et indiquer votre N° de BC dans le sujet du mail. Les formats des pièces jointes acceptés sont : .pdf
                .png .gif .jpg et .bmp (6Mo maximum)
              </li>
            </ul>

          </div>
        </div>
        <hr class="border-dashed my-5">
        <div class="row">
          <div class="col-md-7 col-xl-12 col-xxl-7 px-md-3 mb-xxl-0">
            <div class="media"><img class="mr-3" src="../assets/img/icons/shield.png" alt="" width="60">
              <div class="media-body">
                <h5 class="mb-2">Protection de l'acheteur</h5>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="protection-option-1"
                         type="checkbox" checked disabled>
                  <label class="custom-control-label" for="protection-option-1">
                    <strong>Remboursement complet </strong>si vous ne recevez pas
                    <br class="d-none d-md-block d-lg-none">votre commande
                  </label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input"
                         id="protection-option-2" type="checkbox" checked disabled>
                  <label class="custom-control-label" for="protection-option-2">
                    <strong>Remboursement complet ou partiel,</strong>
                    si le produit n'est pas comme décrit dans les détails</label>
                </div>
              </div>
            </div>
            <div class="vertical-line d-none d-md-block d-xl-none d-xxl-block"></div>
          </div>
          <div
            class="col-md-5 col-xl-12 col-xxl-5 pl-lg-4 pl-xl-2 pl-xxl-5 text-center text-md-left text-xl-center text-xxl-left">
            <hr class="border-dashed d-block d-md-none d-xl-block d-xxl-none my-4">
            <div class="fs-2 font-weight-semi-bold">
              Tout Total: <span class="text-primary">600 DT</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
