<div class="card overflow-hidden mb-3">
  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../assets/img/illustrations/corner-4.png);"></div>
  <!--/.bg-holder-->
  <div class="card-body position-relative">
    <h6 class="text-600">Gratuit pendant 30 jours</h6>
    <h2>For teams of all sizes, in the cloud</h2>
    <p class="mb-0">Obtenez la puissance, le contrôle et la personnalisation dont vous avez besoin pour gérer votre<br class="d-none d-md-block">
      les projets de l’équipe et de l’organisation..</p>
    <a class="btn btn-link pl-0 btn-sm mt-3" href="#!">
      Avoir des questions? Discute avec nous</a>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-12 mb-3">
        <div class="row justify-content-center justify-content-sm-between">
          <div class="col-sm-auto text-center">
            <h5 class="d-inline-block">Facturé annuellement</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 border-top border-bottom">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="font-weight-normal my-0">Single</h3>
            <p class="mt-3">For teams that need to create project plans with confidence.</p>
            <h2 class="font-weight-medium my-4">
              <sup class="font-weight-normal fs-2 mr-1">DT</sup>
              0<small class="fs--1 text-700">/ mois</small></h2>
            <a class="btn btn-outline-primary" href="billing.html">Start free trial</a>
          </div>
          <hr class="border-bottom-0 m-0">
          <div class="text-left px-sm-4 py-4">
            <h5 class="font-weight-medium fs-0">Track team projects with free:</h5>
            <ul class="list-unstyled mt-3">
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Timeline</li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Advanced Search</li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Custom fields<span class="badge badge-soft-success badge-pill ml-1">New</span></li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Task dependencies</li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Private teams & projects</li>
            </ul><a class="btn btn-link" href="#">More about Single</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 border-top border-bottom">
        <div class="h-100" style="background-color: rgba(115, 255, 236, 0.18)">
          <div class="text-center p-4">
            <h3 class="font-weight-normal my-0">Business</h3>
            <p class="mt-3">For teams and companies that need to manage work across initiatives.</p>
            <h2 class="font-weight-medium my-4"> <sup class="font-weight-normal fs-2 mr-1">DT</sup>
              59<small class="fs--1 text-700">/ mois</small></h2>
            <a class="btn btn-primary" routerLink="/payment">Get Business</a>
          </div>
          <hr class="border-bottom-0 m-0">
          <div class="text-left px-3 px-sm-4 py-4">
            <h5 class="font-weight-medium fs-0">Everything in Premium, plus:</h5>
            <ul class="list-unstyled mt-3">
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Portfolios </li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Lock custom fields </li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Onboarding plan</li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Resource Management</li>
              <li class="py-1"><span class="mr-2 fas fa-check text-success"></span> Lock custom fields</li>
            </ul><a class="btn btn-link" href="#">More about Business</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="text-center mb-0">Questions fréquemment posées</h4>
  </div>
  <div class="card-body bg-light">
    <div class="accordion border-x border-top rounded" id="accordionExample">
      <div class="card shadow-none border-bottom">
        <div class="card-header py-0" id="headingOne">
          <button class="btn btn-link text-decoration-none btn-block py-2 px-0 text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="fas fa-caret-right accordion-icon mr-3" data-fa-transform="shrink-2"></span>
            <span class="font-weight-medium text-sans-serif text-900">Combien de temps les paiements prennent-ils?</span>
          </button></div>
        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body pt-2">
            <div class="pl-4">
              Une fois la configuration terminée, les paiements arrivent sur votre compte bancaire tous les deux jours. Ou vous pouvez choisir de recevoir des paiements hebdomadaires ou mensuels.
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow-none border-bottom">
        <div class="card-header py-0" id="headingTwo">
          <button class="btn btn-link text-decoration-none btn-block py-2 px-0 collapsed text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="fas fa-caret-right accordion-icon mr-3" data-fa-transform="shrink-2"></span>
            <span class="font-weight-medium text-sans-serif text-900">Comment fonctionnent les remboursements?</span>
          </button></div>
        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body pt-2">
            <div class="pl-4">Vous pouvez émettre des remboursements partiels ou complets. Il n'y a pas de frais pour rembourser une charge, mais les frais de la charge d'origine ne sont pas retournés.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
