<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<div class="row min-vh-100 flex-center no-gutters" style="margin-top: -5%;">
  <div class="col-lg-8 col-xxl-8 py-3"><img class="bg-auth-circle-shape" src="/assets/img/illustrations/bg-shape.png"
                                            alt="" width="250"><img class="bg-auth-circle-shape-2"
                                                                    src="../../assets/img/illustrations/shape-1.png"
                                                                    alt="" width="150">
    <div class="card overflow-hidden z-index-1">
      <div class="card-body p-0">
        <div class="row no-gutters h-100">
          <div class="col-md-12 d-flex flex-center">
            <div class="p-4 p-md-5 flex-grow-1">
              <h3>Login</h3>
              <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                <div *ngIf="error" class="alert alert-danger">
                  {{error}}
                </div>
                <div class="form-group"><label for="card-email">Email address</label><input class="form-control"
                                                                                            type="email" name="email"
                                                                                            id="card-email"
                                                                                            [(ngModel)]="form.email"
                                                                                            required #email="ngModel"
                                                                                            [email]="true"/>

                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                    <div *ngIf="email.invalid">
                      Format mail inalid
                    </div>
                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <label for="card-password">Password</label>
                  <div class="input-group">

                  <input class="form-control"
                                                                    type="{{passwordType}}" name="password"
                                                                    id="card-password"
                                                                    [(ngModel)]="form.password"
                                                                    required minlength="8"
                                                                    #password="ngModel"/>
                    <div class="input-group-append" (click)="hidePassword()">
                    <span *ngIf="hide" class="input-group-text">
                      <i class="fa far fa-eye"></i>
                    </span>
                      <span *ngIf="!hide" class="input-group-text">
                      <i class="far fa-eye-slash"></i>
                    </span>
                    </div>
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Name must be at least 8 characters long.
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between float-right"><a
                  class="fs--1" routerLink="/request-password-reset">Forgot Password?</a></div>
                <br>
                <div class="form-group">
                  <button class="btn btn-primary btn-block mt-3" type="submit" name="submit"
                          [disabled]="loginForm.invalid">Login
                  </button>
                </div>
              </form>
              <div class="w-100 position-relative mt-4">
                <hr class="text-300"/>
                <div
                  class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">
                  or login with
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="row no-gutters">
                  <div class="col-sm-6 pr-sm-1"><button class="btn btn-outline-google-plus btn-sm btn-block mt-2"
                                                   (click)="loginGoogle()"><span class="fab fa-google-plus-g mr-2"
                                                                  data-fa-transform="grow-8"></span> google</button></div>
                  <div class="col-sm-6 pl-sm-1"><a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span
                    class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span> facebook</a></div>
                </div>
              </div>
              <div class="w-100 position-relative mt-4">
                <hr class="text-300"/>
                <div
                  class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">
                  Sign Up
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="form-group">
                  <a routerLink="/signup" class="btn btn-info btn-block mt-3">Sign Up</a>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
