<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">Recherche produit</h5>
  </div>
  <div class="card-body bg-light">
    <div class="row">
      <div class="col-12">
        <form #newProduitSearchForm=ngForm (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input class="form-control" id="titre" name="titre" type="text" placeholder="Titre" [(ngModel)]="form.titre">
          </div>
          <button class="btn btn-warning mb-3 float-right" type="submit" [disabled]="newProduitSearchForm.invalid">Recherche</button>
        </form>
      </div>
    </div>
  </div>
</div>
