<br>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="../../assets/img/illustrations/find_societe.jpg"></ng-template>
  <ng-template carouselSlide><img src="../../assets/img/illustrations/repaire_phone.jpg"></ng-template>
  <ng-template carouselSlide><img src="../../assets/img/illustrations/carte-mere.jpg"></ng-template>
  <ng-template carouselSlide><img src="../../assets/img/illustrations/repaire-phone-2.jpg"></ng-template>
</owl-carousel-o>
<br>
<br>

<app-list-produit [searchObject]="{'limit': 6, 'offset': 0}"
                  [titre]="'Tous les produits'"
                  [url]="'/produit'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':1}"
                  [titre]="'Immobilier'"
                  [url]="'/produit?category=1'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':2}"
                  [titre]="'Véhicules'"
                  [url]="'/produit?category=2'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':3}"
                  [titre]="'Pour la Maison et Jardin'"
                  [url]="'/produit?category=3'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':4}"
                  [titre]="'Loisirs et Divertissement'"
                  [url]="'/produit?category=4'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':5}"
                  [titre]="'Informatique et Multimedia'"
                  [url]="'/produit?category=5'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':6}"
                  [titre]="'Emploi et Services'"
                  [url]="'/produit?category=6'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':7}"
                  [titre]="'Habillement et Bien Etre'"
                  [url]="'/produit?category=7'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 3, 'offset': 0,'category_id':8}"
                  [titre]="'Entreprises'"
                  [url]="'/produit?category=8'"
></app-list-produit>

<!--
<div class="row no-gutters">
  <div class="col-lg-12 pr-lg-2 mb-3 mb-lg-0">
    <div class="card h-100">
      <div class="card-body p-4 p-sm-5">
        <div class="text-center">
          <img class="d-block mx-auto mb-4" src="assets/img/illustrations/Quickly-search.png" alt="recherche" width="100"/>
          <h5 style="text-align: -webkit-center;
                font-family: Georgia, serif;
                letter-spacing: 1px;
                word-spacing: 0.4px;
                color: #0B14FF;
                font-weight: 400;
                text-decoration: none solid rgb(68, 68, 68);
                font-style: italic;
                font-variant: small-caps;
                text-transform: none;
          ">RECHERCHEZ-VOUS UNE SOCIÉTÉ DE VENTE OU RÉPARATION ?</h5>
          <app-recherche-societe></app-recherche-societe>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<br>
<!--
<app-statistique-etat *ngIf="loggedIn"></app-statistique-etat>
<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-8 pr-lg-2">
      &lt;!&ndash;      https://www.youtube.com/watch?v=dQFLwEJgMEI&list=PLDmvslp_VR0yrKVkeDmfl8KUvxrevbUey&ndash;&gt;
      <div class="row no-gutters">
        <div class="col-lg-12 pl-lg-2">
          <div class="card h-100 mt-3 mt-lg-0">
            <div class="card-header bg-light d-flex flex-between-center">
              <h5 class="mb-0">Nos sociétés</h5>
            </div>
            <div id="mapid"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 pl-lg-2">
      <div class="sticky-top sticky-sidebar">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Meilleure société pour ce mois</h5>
          </div>
&lt;!&ndash;          <app-loading *ngIf="loading"></app-loading>&ndash;&gt;
          <div class="card-body bg-light" *ngIf="!loading">
            <div class="media" *ngFor="let topSociete of topSocietes">
              <div class="avatar avatar-3xl">
                <img class="rounded-circle" src="{{topSociete.image_societe_path}}" alt="{{topSociete.nom}}"/>
              </div>
              <div class="media-body ml-2">
                <h6 class="mb-0"><a routerLink="societe/view/{{topSociete.id}}">{{topSociete.nom}}</a>
                </h6>
                <a routerLink="/societe/view/{{topSociete.id}}" class="btn btn-light btn-sm py-0 mt-1 border">
                  <span class="far fa-eye" data-fa-transform="shrink-5 left-2"></span>
                  <span class="fs&#45;&#45;1">Afficher</span></a>
                <hr class="border-bottom-0 border-dashed"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<br>

<div class="row no-gutters" *ngIf="!loggedIn">
  <div class="col-lg-12 pr-lg-2 mb-3 mb-lg-0">
    <div class="card h-100">
      <div class="card-body p-4 p-sm-5">
        <div class="text-center"><img class="d-block mx-auto mb-4" src="assets/img/illustrations/rocket.png"
                                      alt="shield" width="70"/>
          <h2 class="font-weight-normal text-6 mb-0">Vous êtes un réparateur ?</h2>
          <h2>
            Rejoindre Notre Réseau professionnel
          </h2>
          <a routerLink="/authentification/signup" class="btn btn-primary btn-sm mt-3">
            <span class="fas fa-chevron-left mr-1" data-fa-transform="shrink-4 down-1"></span>
            Rejoindre le Réseau!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Voici ce qu'il y a pour vous</h1>
        <p class="lead">Les choses que vous obtiendrez dans notre site.</p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-sass fs-4 text-info"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Bootstrap 4.3.1</h5>
            <p>Build your webapp with the world's most popular front-end component library along with Falcon's 32 sets
              of carefully designed elements.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-node-js fs-5 text-success"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">SCSS & Javascript files</h5>
            <p>With your purchased copy of Falcon, you will get all the uncompressed & documented SCSS and Javascript
              source code files.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Gulp based workflow</h5>
            <p>All the painful or time-consuming tasks in your development workflow such as compiling the SCSS or
              transpiring the JS are automated.</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->
<br>
<div class="row float-right">
  <button class="btn btn-warning" (click)="top()">
    Retour au haut de page <i class="fas fa-arrow-up"></i>
  </button>
</div>
<br>
