<!--<app-loading *ngIf="loading"></app-loading>-->

<div *ngIf="!loading && item" class="content">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 btn-reveal-trigger">
        <div class="card-header position-relative min-vh-25 mb-8">
          <div class="cover-image">
            <div class="bg-holder rounded-soft rounded-bottom-0"
                 style="background-image:url({{item.image_coverture_path}});"></div>
          </div>
          <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
              <img src="{{item.image_profile_path}}" width="200" alt="{{item.nom}}" data-dz-thumbnail>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Role Settings</h5>
        </div>
        <div class="card-body bg-light">
          <form #profileUpdateForm=ngForm (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group"><label for="username">Username</label>
                  <input class="form-control" id="username" name="username" type="text"
                         [value]="item.username" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="prenom">Prénom</label>
                  <input class="form-control" id="prenom" name="prenom" type="text"
                         [value]="item.prenom" disabled>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input class="form-control" id="nom" name="nom" type="text"
                         [value]="item.nom" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group"><label for="email">Email</label>
                  <input class="form-control" id="email" name="email" type="text"
                         [value]="item.email" disabled>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group"><label for="telephone">Téléphone</label>
                  <input class="form-control" id="telephone" name="telephone" type="text"
                         [value]="item.telephone" disabled>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="form-group">
                <label for="roles">Roles :</label>
                <div *ngFor="let role of rolesName">
                  <input type="checkbox"
                         name="roles"
                         id="roles"
                         value="{{role}}"
                         [checked]="findRole(role) >= 0"
                         (change)="updateCheckedOptions(role, $event)"/>
                  {{role}}
                </div>
              </div>

            </div>
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-primary" type="submit" [disabled]="profileUpdateForm.invalid || loadingUpdate">Valider
                <span *ngIf="loadingUpdate" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
