<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Id</th>
          <td>{{modele.modele_id}}</td>
        </tr>
        <tr>
          <th scope="row">Nom</th>
          <td>{{modele.modele_name}}</td>
        </tr>
        <tr>
          <th scope="row">Logo</th>
          <td><img src="{{modele.image_path}}"
                   alt="{{modele.image_name}}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
