<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{roueClient.nom}}</td>
        </tr>
        <tr>
          <th scope="row">Prénom</th>
          <td>{{roueClient.prenom}}</td>
        </tr>
        <tr>
          <th scope="row">Num</th>
          <td>{{roueClient.num_tel}}</td>
        </tr>
        <tr>
          <th scope="row">email</th>
          <td>{{roueClient.email}}</td>
        </tr>
        <tr>
          <th scope="row">1er cadeau</th>
          <td>{{roueClient.value1}}</td>
        </tr>
        <tr>
          <th scope="row">2eme cadeau</th>
          <td>{{roueClient.value2}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
